In [ ]:
CREATE TABLE Student (StudentID INT PRIMARY KEY, FirstName nvarchar(50), LastName nvarchar(50),
GenderID INT, BirthDate DATE, EmailAddress NVARCHAR(150), Address NVARCHAR(150))

CREATE TABLE Gender (GenderID INT PRIMARY KEY, Name NVARCHAR(50))

CREATE TABLE Course (CourseCode NVARCHAR(50), Title nvarchar(50))

CREATE TABLE StudentCourse (StudentCourseID INT PRIMARY KEY, StudentID INT, CourseCode NVARCHAR(50), Semester nvarchar(20))