In [ ]:
SELECT TOP (1000) [StudentID]
      ,[FirstName]
      ,[LastName]
      ,[GenderID]
      ,[BirthDate]
      ,[EmailAddress]
      ,[Address]
  FROM [SchoolDB].[dbo].[Student]


  SELECT TOP (1000) [StudentCourseID]
      ,[StudentID]
      ,[CourseCode]
      ,[Semester]
      
  FROM [SchoolDB].[dbo].[StudentCourse]

  SELECT * FROM Student

  SELECT * FROM StudentCourse

  SELECT * From Student inner JOIN StudentCourse on Student.StudentID = StudentCourse.StudentID order by Student.FirstName